<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="registration" value="" />
    <!-- base 64 encoded (https://www.base64encode.org/) token that has username:usertoken -->
    <add key="token" value="" />
    <add key="clientId" value=""/>
    <add key="TokenEndpoint" value="https://customer.aprimo.com" />
    <add key="RESTEndpoint" value="https://customer.dam.aprimo.com/api/core"/>
  </appSettings>
</configuration>